{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load fontawesome %}

{% block content %}
    <h4>Alterar Senha</h4>
    <hr class="mt-0 mb-4">
    <form method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12">
                {{ form|crispy }}
                <button class="btn btn-outline-info btn-block btn-sm mt-2" type="submit" value="alterar_senha">
                    Alterar Senha
                </button>
            </div>
        </div>
    </form>
{% endblock %}
